/* *************************** */
/* BELOW 1000PX (tablet) */
/* *************************** */

@media (max-width: 62em) {
  body {
    width: 75vw;
  }
  .container-grid {
    margin-bottom: 0;
  }

  .note-box {
    position: absolute;
    top: -100%;
    bottom: 0;
    transform: translateY(-100%);
    margin-top: 0;
  }

  .title {
    font-size: 0.6rem;
    text-wrap: nowrap;
  }
}

@media (max-width: 62em) {
  html {
    margin-bottom: 2rem;
  }
}

/* *************************** */
/* BELOW 800PX (tablet) */
/* *************************** */

@media (max-width: 50em) {
  .note-box {
    position: absolute;
    top: 20%;
    bottom: 0;
    transform: translateY(20%);
    margin-top: 0;
  }

  .form-box {
  }

  .clear-box {
  }

  .title {
    font-size: 0.6rem;
    text-wrap: nowrap;
  }
}

/* *************************** */
/* BELOW 600PX (tablet) */
/* *************************** */

@media (max-width: 37em) {
  .note-box {
    margin-bottom: 4.8rem;
  }

  .form-box {
  }

  .clear-box {
    align-items: center;
    justify-items: center;
  }

  .title {
    font-size: 0.6rem;
    text-wrap: nowrap;
  }
}
