* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 240, 221, 0.863);
  margin: 20px auto;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.container-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
}

.calculate {
  width: 100px;
  height: 40px;
}

.form-box {
  border: 1px solid yellow;
  border-radius: 20px;
  background-color: yellowgreen;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  width: 250px;
}

.clear-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.note-box {
  display: block;
}

.container-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
